@use '../../styles/variables';
.btn {
    display: inline-block;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow) 0px 6px 24px;
    border-radius: variables.$radius;
    background: var(--bg);
    fill: var(--bg);
    color: variables.$light;
    padding: 8px;
    text-align: center;
    font-size: map-get(variables.$font-size, medium);
    font-weight: map-get(variables.$weight, light);
    user-select: none;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, transform .3s ease-in-out, box-shadow .3s ease-in-out;
    &:hover {
        transform: translateY(4px);
        fill: variables.$light;
        background-color: variables.$light;
        color: var(--bg);
        box-shadow: 2px 4px 2px -4px rgba(79,79,79,0.2) inset;

    }
}

.test {
    background: var(--bg);
    margin-block: .675rem;
}

.no-bg {
    background: variables.$lighter-dark;

    &:hover {
        background-color: rgb(228, 161, 31);
    }
}

.--bg-yellow {
    background-color: rgb(228, 161, 31);

    &:hover {
        transform: scale(1.1);
        background: variables.$lighter-dark;
        color: var(--bg);
    }
}

._favorites {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    text-align: center;
    border-color: variables.$light;
    box-shadow: none;
    fill: variables.$light;
    &:hover {
        transform: none;
        background-color: transparent;
        box-shadow: none;
        fill: rgb(233, 98, 126);

    }

    & svg {
        transform: scale(1.8);
        transition: transform .3s cubic-bezier(0.34,-0.29, 0.72, 1.45);

    }

    &:hover svg {
        transform: scale(2);
    }

    &::after {
        content: 'Add to Favorites';
        position: absolute;
        transform: translate(40px, -30px);
        font-size: map-get(variables.$font-size, small);
        color: white;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        overflow: visible;
        padding: 4px 6px;
        text-align: center;
        border-radius: variables.$radius;
        background-color: variables.$extra-light-dark;
        transition: opacity .1s ease;
        transition-delay: 50ms;
    }
    &:hover::after {
        transition-delay: 400ms;
        visibility: visible;
        opacity: 1
    }
}
.--filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 6px;
    height: 30px;
    width: 30px;
    fill: variables.$light;
}
