@use '../../styles/variables';

.hero-container {
    position: relative;
    display: flex;
    transition: transform 400ms ease-in-out;
    overflow: hidden;
    isolation: isolate;
}
.hero {
    position: relative;
    height: calc(100vh - 64px);
    min-width: 100vw;

    background: linear-gradient(120deg, variables.$dark 60%, rgb(56, 56, 56) 115%);
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
    .hero-title {
        font-size: map-get(variables.$font-size, 'extra-large');
        width: 20ch;
    }

    .hero-paragraph {
        width: 50ch;
        margin-block: 1rem;
    }

    .testing {
        background: rgb(252, 194, 95);
        color: #000;
        &:hover {
            color: #000;
            background: rgb(252, 194, 95);
        }
    }
}

.nextCarouselItem {
    position: absolute;
    opacity: .3;
    transform: translateX(100vw);
}

.visible {
    transform: translateX(0);
    opacity: 1;
}

.img-containers {
    position: relative;
    width: 100vw;
}

.img-test {
    width: 900px;
    position: absolute;
    z-index: -1;
    right: -140px;
    top: -230px;
    filter: drop-shadow(16px 16px 10px variables.$lighter-dark);
}
