$weight: (
    "bold": 900,
    "regular": 600,
    "light": 500
);
$font-size: (
    "small": .8rem,
    "medium": 1.2rem,
    "large": 1.4rem,
    "extra-large": 3rem
);

$breakpoints: (
    "phone": 390px,
    "phone-landscape": 576px,
    "tablet": 768px,
    "laptop": 992px,
    "large-device": 1200px
);


$dark: hsl(0, 0%, 11%);
$blue: rgb(0, 138, 237);
$low-sat-blue: hsla(210, 4%, 32%, 1);
$purple: hsl(244, 59%, 56%);
$lighter-dark: hsl(0, 0%, 17%);
$extra-light-dark: hsl(0, 0%, 27%);
$light: hsl(0, 0%, 100%);
$darker-light: hsl(0, 0%, 80%);
$transparent: rgba(255, 255, 255, 0);
$shadow: rgba(24, 24, 24, 0.5) 0px 7px 29px 0px;
$radius: 4px;
