@use 'variables';

@mixin theme($bg, $color) {
    background: $bg;
    color: $color;
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*::selection {
    background: rgba(172, 172, 172, 0.25);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: variables.$lighter-dark;
}

body {
    transition: background-color .4s, color .4s;
    text-rendering: optimizeLegibility;
    overflow-y: overlay;
}

.font {
    font-family: 'Bitter', sans-serif;
    font-weight: 900;
}

main {
    margin-top: 64px;

}

.dark {
    @include theme($bg: variables.$dark, $color: variables.$light);

}

.light {
    @include theme($bg: variables.$light, $color: variables.$dark);
}

section {
    position: relative;
    overflow: hidden;
    padding: 4rem;
}

a {
    text-decoration: none;
    color: transparent;
}

li {
    list-style: none;
}
