@use '../../styles/variables';

.dots {
    position: absolute;
    background-image: url('../../assets/dots.svg');
    background-repeat: no-repeat;
    height: 110px;
    width: 140px;
    z-index: -1;
    &:nth-child(1) {
        top: 5vh;
        left: 0;
    }

    &:nth-child(2) {
        top: 20vh;
        right: 4vw;
        transform: rotate(20deg);
    }

    &:nth-child(3) {
        bottom: 40vh;
        left: 5vw;
        transform: scale(1.2) rotate(140deg);
    }

    &:nth-child(4) {
        bottom: 20vh;
        right: 4vh;
        transform: rotate(20deg);
        transform: scale(1.2) rotate(90deg);
    }
}
