@use '../../styles/variables';
@mixin theme($bg, $text-clr) {
    background-color: $bg;
    color: $text-clr;
}

.card {
    @include theme(variables.$lighter-dark, variables.$light);
    position: relative;
    display: inline-block;
    width: 260px;
    box-shadow: variables.$shadow;
    border-radius: variables.$radius;
    z-index: 20;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: map-get(variables.$font-size, small);

    transition: transform .4s ease;
    cursor: pointer;

    img {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 146px;
        color: variables.$light;
        background-color: rgb(129, 129, 129);
        animation: loading-img 1000ms ease infinite alternate forwards;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: variables.$radius;
        border-top-right-radius: variables.$radius;
        transition: transform .4s ease;
    }

    .content {
        padding-inline: .675rem;
        padding-block: .675rem 0;
        width: 100%;

        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    h3 {
        margin-bottom: .375rem;
        font-size: map-get(variables.$font-size, small);
    }

    &:hover {
        transform: scale(1.05);
        z-index: 25;
    }

}

.content-category {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;



    .platform {
        font-size: map-get(variables.$font-size, small);

        & svg{
            display: inline-block;
            vertical-align: middle;
            fill: variables.$light;
            height: 20px;
            width: 20px;
        }

        &::after {
            content: attr(data-platform);
            position: absolute;
            transform: translate(-40px, -30px);
            color: white;
            z-index: 100;
            opacity: 0;
            z-index: 10;
            overflow: visible;
            visibility: hidden;
            padding: 4px 8px;
            text-align: center;
            border-radius: variables.$radius;
            background-color: variables.$extra-light-dark;
            transition: opacity .4s ease;
            transition-delay: 50ms;
        }

        &:hover::after {
            transition-delay: 400ms;
            visibility: visible;
            opacity: 1;

        }
    }

    .genre {
        padding: 4px 8px;
        background-color: variables.$blue;
        border-radius: variables.$radius;
        color: variables.$light;
    }

    .tags {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: auto;
        gap: 10px;
        margin-block: 1rem;
    }
}

.showcase-card {
    @include theme(variables.$transparent, variables.$light);
    position: relative;
    width: 22rem;

        img {
            border-radius: variables.$radius;
            overflow: hidden;
            &:hover {
                transform: scale(1.05);
            }
        }

    .content {
        position: absolute;
        bottom: 0;
        padding-inline: .675rem;
        padding-block: 0;

        .tags {
            &:first-child {
                margin-left: auto;

            }
        }
    }

}
