@use '../../styles/variables';

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    opacity: .5;
    z-index: -1;

    & .bg-gradient {
        background: linear-gradient(90deg, variables.$dark 0%, rgba(35, 46, 46, 0.1) 16.15%, rgba(35, 46, 46, 0.1) 80.21%, variables.$dark 100%), linear-gradient(180deg, rgb(39, 43, 48) 0%, rgba(0, 0, 0, 0.58) 33.85%, variables.$dark 100%);
        height: 101%;
    }
}



.details-container {
    display: flex;
    justify-content: space-evenly;
    & img {
        height: fit-content;
    }

    & h3 {
        color: rgb(134, 138, 144);
        font-weight: 500;
    }
}





.game-details {
    padding-inline: 2rem;
    padding-block: 0 1rem;
    & > * + * {
        margin-block: 1rem;
    }

    p {

        color: variables.$light;
        line-height: 120%;
        font-weight: 400;
        font-size: 1.2rem;
        width: 100%;
        margin-block: 0 1rem;
        text-align: left;
    }

}

.line {
    border-color: variables.$low-sat-blue;
    margin-inline: auto;
    margin-block: 1rem;
}

.text-blue {
    color: variables.$blue;
    font-family: 'Bitter', sans-serif;
    font-size: map-get(variables.$font-size, 'large');
    margin-bottom: .675rem;
}


@media screen and (max-width: map-get(variables.$breakpoints, 'laptop')) {
    .details-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .game {
        margin-inline: auto;
        min-width: 50%;
    }
}

@media screen and (max-width: map-get(variables.$breakpoints, 'phone-landscape')) {
    .details-container {
        text-align: center;
    }
}
