@use '../.././styles/variables';

form {
    height: 30px;
    overflow: hidden;
    border-radius: variables.$radius;
}

input {
    height: 100%;
    font-size: 1rem;
    padding-left: .875rem;
    outline: none;
    border: none;
    background-color: variables.$light;
}
