@use '../../styles/variables';
.card-wrapper {
    padding-inline: 5rem;
    padding-block: 1rem 2rem;
    overflow: hidden;
    &:first-child {
        margin-bottom: 2rem;
    }
    @media screen and (max-width: map-get(variables.$breakpoints, 'laptop')) {
        padding-inline: 2rem;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem 0;
    min-height: 100vh;
    align-content: flex-start;
    justify-items: center;
    &:hover {

    }

    @media screen and (max-width: 45rem) {
        padding: 2rem;
        place-items: center;
    }

    @media screen and (max-width: map-get(variables.$breakpoints, 'laptop')) {
        padding: 1rem;
    }


}

.sort-by {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.notFound {
    text-align: center;
    font-size: 2.2rem;
}
