.card-wrapper {
    padding-inline: 5rem;
    padding-block: 1rem 2rem;

    &:first-child {
        margin-bottom: 2rem;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem 0;
    place-items: center;
    &:hover {

    }

    @media screen and (max-width: 45rem) {
        padding: 2rem;
        place-items: center;
    }
}

.sort-by {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
