@use '../../styles/variables';

.theme-toggler {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left, variables.$blue, variables.$purple);
    overflow: hidden;
    border-radius: variables.$radius;
    color: white;
    height: 30px;
    cursor: pointer;

    & h4 {
        z-index: 2;
        color: variables.$light;
        padding: 8px;
        opacity: 0;
        transition: opacity .4s ease;
    }

    & .active {
        opacity: 1
    }
}
